<li>
  <span class="content"><%= project.name %></span>
  <span class="content"><%= project.status %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(project.created_at) %> ago.
  </span>
</li>